<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript">

      let url = document.URL;
      let id = url.substring(url.lastIndexOf('/') + 1);
      url = `http://localhost:3000/contact/${id}`;

      fetch(url)
        .then((res) => res.json())
        .then((contact) => 
          document.getElementById("dvContact").innerHTML = createTable(contact)
        )
        .catch((err) => {
          throw err;
        });

      function createTable(contact) {
        let table = "<table>";
        table += "<tr><th>Id</th><th>Name</th><th>Phone</th><th>Email</th><th>Address</th></tr>";
        table += `<tr><td>${contact.id}</td><td>${contact.Name}</td><td>${contact.Phone}</td><td>${contact.Email}</td><td>${contact.Address}</td></tr>`;
        table += "</table>";
        return table;
      }
    </script>
  </head>

  <body>
    <h1 style="text-align: center;">Contact</h1>
    <div id="dvContact"></div>
    <div style="text-align:center"><button class="myButton" onclick="location.href='/'">Return to Contacts List</button></div>

  </body>

</html>