<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript">
      let url = "http://localhost:3000/contact";
      fetch(url)
        .then((res) => res.json())
        .then((data) => 
          document.getElementById("dvContacts").innerHTML = createTable(data)
        )
        .catch((err) => {
          throw err;
        });

      function createTable(data) {
        let table = "<table>";
        table += "<tr><th>Id</th><th>Name</th></tr>";
        data.forEach((item) => {
          table += `<tr><td>${item.id}</td><td><a href='/c/${item.id}'>${item.Name}</a></td></tr>`;
        });
        table += "</table>";
        return table;
      }
    </script>
  </head>

  <body>
    <h1 style="text-align: center;">Contacts</h1>
    <div id="dvContacts"></div>
  </body>

</html>